html {
    font-family: Arial;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #212121;
}

.nav {
    background-color: #29303b;
    height: 50px;
    display: flex;
    color: #fff;
}

    .nav a i {
        font-size: 20px;
        color: #fff;
        line-height: 50px;
        display: block;
        margin: 0 30px;
    }

.nameLogo {
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.nameLesson {
    margin: 18px 30px;
    font-weight: 600;
    font-size: 14px;
}

}

#col-1 {
    width: 87vw;
}

.col-2 {
    width: 30vw;
}

    .col-2 .course-list {
        background-color: #f7f8fa;
        padding: 0;
    }

    .col-2 .course-item {
        display: flex;
        font-size: 20px;
        font-weight: 500;
        background-color: #f7f8fa;
    }

    .col-2 h3 {
        background-color: #f7f8fa;
        color: #000;
        font-size: 20px !important;
    }

    .col-2 #accordion-course p {
        height: 22px !important;
    }

/*
    .other-course {
    position: sticky;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    height: 75px;
    right: 0;
    left: 0;
    bottom: 0;
}
*/

.next-course,
.prev-course {
    display: flex;
}

    .next-course p {
        line-height: 35px;
        font-size: 22px;
        font-weight: 600;
        color: #212121;
        margin: auto;
        margin-left: 12px;
    }

.other-course .prev-course i {
    margin: 32px;
}

.other-course .next-course i {
    margin: 16px;
}

.prev-course > p {
    line-height: 35px;
    font-size: 22px;
    font-weight: 600;
    color: #212121;
}

.prev-course + .next-course {
    margin-left: 30px;
}

.wraper-next-course {
    display: flex;
    border: 2px solid #ff7979;
    height: 60%;
    position: relative;
    top: 16px;
    border-radius: 14px;
}

    .wraper-next-course p {
        color: #ff7979;
    }
.backMainPage {
    margin: 0;
    color: #212121;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 0px;
}

    .backMainPage:hover {
        color: #f76262;
    }

.wrap-back p {
    padding-top: 4px;
    padding-left: 10px;
    font-size: 32px;
}