@{
    ViewData["Title"] = "Quên mặt khẩu";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/img/logo_icon.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <title>Quên mật khẩu</title>
</head>
<body>
    <div id="wrapper">
        <form asp-controller="Login" method="post" id="form-login">
            <h1 class="form-heading">Quên mật khẩu</h1>
            <div class="form-group">
                <i class="far fa-key"></i>
                <input type="password" class="form-input" placeholder="Email">
            </div>

            <input asp-action="ChangeToLoginIndex" class="form-submit" type="submit" value="Nhận mật khẩu mới">
            <a asp-action="ChangeToLoginIndex" class="form-submit" style="margin-top: 12px;">
                Trở Về
            </a>
        </form>

    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="./js/openPassword.js"></script>
</html>

