@model String

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section Buttons{
        @if (Model == "Ban Nhân Sự")
        {
            <a asp-action="Account" class="header-item">Tài khoản</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if (Model == "Ban Đào Tạo")
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            <a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if ((Model == "Ban Truyền Thông") || (Model == "Ban Sự Kiện"))
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            //<a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            //<a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if ((Model == "Ban Điều Hành") || (Model == "Ban Cố Vấn") || (Model == "Nhà Sáng Lập") || (Model == "Nhà Đồng Sáng Lập"))
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            //<a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else
        {
            <a class="header-item"></a>
            //<a asp-action="Notification" class="header-item">Thông báo</a>
            //<a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            //<a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }

    }

    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}



<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/nhanSu&DuAn.css">
    <link rel="stylesheet" href="~/css/subScene.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.20.2/jodit.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.20.2/jodit.min.js"></script>
</head>
<body>
    @RenderBody()
    <div class="wrap-back" style="display:flex;">
        <a asp-action="Index"><h2 class="backMainPage"> Trang Chủ</h2></a>
        <p>/</p>
        <a asp-action="Procedure"><h2 style="padding-left: 10px;" class="backMainPage"> Quy trình</h2></a>
        <p>/</p>
        <a asp-action="AddProcedure"><h2 style="padding-left: 10px;" class="backMainPage"> Thêm quy trình</h2></a>
    </div>
    <form asp-action="AddTraining" method="post" id="form-addprocedure">
        <div class="wrap-themDuAn">
                <label for="">
                    <strong style="font-size:20px;">Tên bài đào tạo: </strong>
                    <input type="text" name="Name" value="" required>
                </label>

                <label for="">
                    <strong style="font-size:20px;">Diễn giả: </strong>
                    <input type="text" name="Speaker" value="">
                </label>

            <table><tr><td style="font-size: 20px; font-weight: bold;">Nội dung bài đào tạo</td></tr></table>
            <label for="">
                <textarea style="margin: 12px 0; min-height: 500px;" name="Content" id="content" cols="30" rows="10" required></textarea>
                <script>
                    const editor = Jodit.make('#content', { height: 300 })
                </script>
            </label>

            <label for="">
                <strong style="font-size:20px;">Link tài liệu (*chỉ nhập link nhúng): </strong>
                <input type="url" id="input-link" name="Link" value="" required>
            </label>

            <div class="" style="text-align:left; width: inherit;">
                <div style="float: right;">
                    <button style="width: 200px;" type="button" class="add-nhanSu" onclick="confirm()">
                        <i class="fa-solid fa-plus"></i>
                        Lưu bài đào tạo
                    </button>
                </div>
            </div>
        </div>
        <script>
            function confirm() {
                if (document.getElementById('content').value.length > 0) {
                    document.forms[0].submit();
                }
                else {
                    alert("Chưa nhập nội dung bài đào tạo!")
                }
            }
        </script>
    </form>
    <script src="./js/dataNhanSu.js"></script>
    <script src="./js/dataDuAn.js"></script>

</body>
</html>

